:root {
    --LightBlue: #F8F9FA; 
    --DarkBlue: #1C445D;
    --altBlue: #E8F5FC;
    --shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
    --border: solid 2px var(--altBlue);
   }


.chart-wrpper {
    width: 40%;
}