:root {
    --LightBlue: #F8F9FA; 
    --DarkBlue: #1C445D;
    --altBlue: #E8F5FC;
    --Red: #ff3f3f;
    --shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
    --border: solid 2px var(--altBlue);
}

.Input {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    border: solid 2px var(--DarkBlue);
    border-width: 1px;
    gap: 5px;
    background-color: white; 
    height: 30px;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
}

.datapoints{
    background-color: var(--LightBlue);
    border: var(--border);
    box-shadow: var(--shadow);   
}

.main {
    background-color: white; 
}

.Small{
    max-width: 62px;
}

.flex-item {
    flex: 1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bolder;
    height: 28px;
    margin: auto;
    text-align: center;
    align-content: center;
    line-height: 28px;
    border: none;
    border-radius: 8px;
    border: var(--border);
}

.testnumber {
    background-color: var(--DarkBlue);
    color: var(--LightBlue); 
    font-weight: bolder;
}



.date{
    max-width: 300px;
    width: 300px;
    font-size: 24px;
    cursor:text;
}



.testvalue {
    height: 26px;
    max-width: 90px;
    font-size: 24px;
    border: solid 1px #1C445D;
}

.Unit {
    max-width: 75px;
    border: solid 1px #1C445D;
    font-weight: bolder;
    background-color: var(--DarkBlue);
    color: var(--LightBlue);
    padding: 0 2px;
    
} 
.bgBlue {
    background-color: #1C445D;
    color: #E8F5FC;
    
}

.info {
    max-width: 30px;
    height: 30px;
    background-color: var(--DarkBlue);
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    cursor: help;
}

.IconInput { 
    width: fit-content;
    width: 22px;
    height: 22px;
    padding: 4px;
    filter: invert(98%) sepia(19%) saturate(1024%) hue-rotate(172deg) brightness(100%) contrast(99%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: var(--LightBlue);
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
}

.popuptext {
    visibility: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.input-form {
    display: flex;
    max-width: 100%; 
}

.line {
    border-color: var(--altBlue);
    background-color: var(--altBlue);
    border-radius: 8px;
    height: 1px;
    width: 100%;
    margin: 10px;
    padding: 1px;
}

.Add, 
.deleteAll {
    border: solid 2px var(--DarkBlue);
    color: var(--DarkBlue); 
    background-color: transparent;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
    max-width: 200px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    transition: all 200ms;
    cursor: pointer;
}

.deleteAll {
    margin: 5px;
    margin-top: 20px;
    font-size: 18px;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.Add:hover {
    background-color: var(--DarkBlue);
    color: var(--LightBlue);
}

.deleteAll:hover{
    background-color: var(--Red);
    color: var(--LightBlue); 
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}