.Render {
    display: flex;
    justify-content: center;
    border: solid 2px var(--DarkBlue);
    color: var(--DarkBlue); 
    background-color: transparent;
    margin: 30px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
    width: 40%;
    border-radius: 8px;
    box-shadow: var(--shadow);
    transition: all 200ms;
    cursor: pointer;
    background-color: white;
  }
  
  
  .RenderInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: var(--border);
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: var(--shadow);
  }
  
  .Render:hover {
    background-color: var(--DarkBlue);
    color: var(--LightBlue);
  }
